body{
    font-family: roboto;
    background-image: repeating-conic-gradient(rgb(7, 7, 64) 10%,
     rgb(14, 106, 226) 30%)    
}
h1{
    color: silver; 
    text-align: center;  
}
#title{
    font-size: 35px;
    font-weight: bolder;
}
#description{
    font-size: 25px;
    color: silver;
    font-weight: 100;
    text-align: center;
}
#name,#email{
    margin-top: 4px;
    display: block;
    height: 23px;
    width: 210px;
    background-color: transparent;
    border: 1px solid white;
    color: beige;
    margin-bottom: 15px;
}

#name-label,#email-label,#number-label{
    color:white; 
    font-size: 18px;
}
#number{
    margin-top: 4px;
    display: block;
    height: 23px;
    width: 45px;
    background-color: transparent;
    border: 1px solid white;
    color: beige;
    margin-bottom: 15px;
}
#dropdown{
    margin-top: 4px;
    display: block;
    padding: 2px 0;
    width: 300px;
    background-color: white;
    color: black;
    margin-bottom: 15px;
}
.question{
    color:silver; 
    font-size: 18px;
    margin-bottom: 4px;
}

button{
    display: block;
    margin-top: 25px;
    border-color: blue;
    border: 1px;
    border-radius: 8px;
    border-style: solid;
    padding: 5px 12px;
    position: relative;
    left: 90px;
    color: white;
    font-size: 18px;
    background-color: transparent;
}
#def,#maybe,#Frontend,#Backend{
    color: white;
}
div > div{
    background-color: rgb(2, 2, 122);
    width: 550px;
    height: 550px;
    padding-top:45px ;
}
div{
    display: flex;
    justify-content: center;
}